.completedStep {
    color: var(--colors-green500);
}

.inProgressStep {
    color: var(--colors-grey800);
}

.waitingStep {
    color: var(--colors-grey500);
}

.stepHeaderWrapper {
    display: flex;
    align-items: center;
}

.stepHeaderWrapper * {
    padding-left: 4px;
}

.headerWrapper {
    display: flex;
    align-items: center;
}

.headerWrapper :last-child {
    margin-left: auto;
}