.noticeBoxWrapper {
    width: 600px;
    margin-bottom: 16px;
}

.buttonWrapper {
    margin: 8px 0 8px 0;
}

.proceedButton {
    margin-top: 8px;
}

.validationBlock {
    margin: 0 0 16px 16px;
}

.moduleTitle {
    font-size: 18px;
    line-height: 30px;
    color: var(--colors-grey800)
}

.moduleSubHeader {
    font-size: 16px;
    line-height: 30px;
    color: var(--colors-grey800)    
}

.moduleSubsection {
    margin-left: 8px;
}